In [2]:
import requests, pandas as pd

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/stringency_index.csv", encoding='latin-1')

In [4]:
df

     Unnamed: 0 country_code  country_name  ...  28Dec2021  29Dec2021  30Dec2021
0             1          ABW         Aruba  ...        NaN        NaN        NaN
1             2          AFG   Afghanistan  ...        NaN        NaN        NaN
2             3          AGO        Angola  ...        NaN        NaN        NaN
3             4          ALB       Albania  ...        NaN        NaN        NaN
4             5          AND       Andorra  ...        NaN        NaN        NaN
..          ...          ...           ...  ...        ...        ...        ...
181         182          VUT       Vanuatu  ...        NaN        NaN        NaN
182         183          YEM         Yemen  ...        NaN        NaN        NaN
183         184          ZAF  South Africa  ...        NaN        NaN        NaN
184         185          ZMB        Zambia  ...        NaN        NaN        NaN
185         186          ZWE      Zimbabwe  ...        NaN        NaN        NaN

[186 rows x 733 columns]

In [10]:
codes = ["CHN",
          "GBR",
          "USA",
          "IND",
          "RUS",
          "JPN",
          "BRA",
          "DEU",
          "ARG"]
df2 = df.loc[df['country_code'].isin(codes)]

df2

     Unnamed: 0 country_code    country_name  ...  28Dec2021  29Dec2021  30Dec2021
6             7          ARG       Argentina  ...        NaN        NaN        NaN
23           24          BRA          Brazil  ...        NaN        NaN        NaN
32           33          CHN           China  ...        NaN        NaN        NaN
44           45          DEU         Germany  ...        NaN        NaN        NaN
61           62          GBR  United Kingdom  ...        NaN        NaN        NaN
77           78          IND           India  ...        NaN        NaN        NaN
86           87          JPN           Japan  ...        NaN        NaN        NaN
141         142          RUS          Russia  ...        NaN        NaN        NaN
176         177          USA   United States  ...        NaN        NaN        NaN

[9 rows x 733 columns]

In [32]:
df3 = df2.melt(id_vars=['country_code'], 
value_vars=['01Jan2020','01Feb2020','01Mar2020','01Apr2020','01May2020','01Jun2020','01Jul2020','01Aug2020','01Sep2020','01Oct2020','01Nov2020','01Dec2020','01Jan2021','01Feb2021','01Mar2021','01Apr2021','01May2021','01Jun2021','01Jul2021','01Aug2021','01Sep2021','01Oct2021','01Nov2021','01Dec2021'], var_name='Date', 
value_name='Stringency')

In [20]:
df3.columns

Index(['country_code', 'Month', 'Stringency'], dtype='object')

In [22]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  216 non-null    object
 1   Month         216 non-null    object
 2   Stringency    216 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.2+ KB

In [34]:
df3['Date'] = pd.to_datetime(df3['Date'], format='%d%b%Y')

In [35]:
df3

    country_code       Date  Stringency
0            ARG 2020-01-01        0.00
1            BRA 2020-01-01        0.00
2            CHN 2020-01-01        0.00
3            DEU 2020-01-01        0.00
4            GBR 2020-01-01        0.00
..           ...        ...         ...
211          GBR 2021-12-01       46.76
212          IND 2021-12-01       51.39
213          JPN 2021-12-01       47.22
214          RUS 2021-12-01       60.65
215          USA 2021-12-01       47.69

[216 rows x 3 columns]

In [36]:
# Export to plot
df3.to_csv("proj_stringency_time.csv",encoding = 'utf-8', index=False)