In [5]:
import requests, pandas as pd

# Bringing in the dataframe, noticing that the data starts a few rows into the csv file, we skip those rows. I only care about 2019 data for this scenario.
df=pd.read_csv("https://raw.githubusercontent.com/joesellis/joesellis.github.io/main/Gross%20national%20income%20(GNI)%20per%20capita%20(constant%202017%20PPP%24).csv", skiprows=6, encoding='latin-1', usecols = ['Country', '2019'])

df
# We see that there are rows we don't want at the bottom, so drop all data after Zimbabwe

df = df.iloc[:191]

df

df2=pd.read_csv("https://raw.githubusercontent.com/joesellis/joesellis.github.io/main/Education%20index.csv", skiprows=5, encoding='latin-1', usecols = ['Country', '2019'])

df2

# Again we need to drop the last few rows to have just the countries
df2 = df2.iloc[:189]
df2

# Renaming columns
df2.columns = ['Country', 'Education Index']
df.columns = ['Country', 'GNI Per Capita']

# Merging the two dataframes
df_merged = pd.merge(df, df2)

df_merged
# We now have country, GNI, and Education Index all in one dataframe, with non matches removed. Some countries only had GNI data or only had Education data.

df_merged.to_csv("hw8_data.csv",encoding = 'utf-8', index=False)

# Ready for plotting.
df_merged

                                 Country GNI Per Capita Education Index
0                            Afghanistan           2229           0.414
1                                Albania          13998           0.746
2                                Algeria          11174           0.672
3                                Andorra          56000           0.720
4                                 Angola           6104           0.500
..                                   ...            ...             ...
184   Venezuela (Bolivarian Republic of)           7045           0.700
185                             Viet Nam           7433           0.630
186                                Yemen           1594           0.350
187                               Zambia           3326           0.557
188                             Zimbabwe           2666           0.587

[189 rows x 3 columns]