In [67]:
import requests, pandas as pd

# Bringing in the dataframe.
df=pd.read_csv("https://raw.githubusercontent.com/joesellis/joesellis.github.io/main/DP_LIVE_31122021124810224.csv", encoding='latin-1')

df

    ï»¿"LOCATION" INDICATOR SUBJECT  ...     TIME      Value Flag Codes
0             KOR      QGDP     TOT  ...  2019-Q4   1.288455        NaN
1             KOR      QGDP     TOT  ...  2020-Q1  -1.261507          P
2             KOR      QGDP     TOT  ...  2020-Q2  -3.150738          P
3             KOR      QGDP     TOT  ...  2020-Q3   2.233424          P
4             KOR      QGDP     TOT  ...  2020-Q4   1.142221          P
..            ...       ...     ...  ...      ...        ...        ...
178     EU27_2020      QGDP     TOT  ...  2020-Q3  11.683211        NaN
179     EU27_2020      QGDP     TOT  ...  2020-Q4  -0.164794        NaN
180     EU27_2020      QGDP     TOT  ...  2021-Q1  -0.002665        NaN
181     EU27_2020      QGDP     TOT  ...  2021-Q2   2.092405        NaN
182     EU27_2020      QGDP     TOT  ...  2021-Q3   2.096820        NaN

[183 rows x 8 columns]

In [68]:
# Renaming relevant columns

df.columns = ['Country Code', '.', '..','...','....','Quarter', 'GDP Growth', '.....']

In [ ]:
df

In [70]:
# I am only interested in plotting a few countries.

codes = [
          "CHN",
          "GBR",
          "OECD",
          "USA",
          "IND",
          "RUS",
          "JPN",
          "BRA",
          "DEU",
          "ARG"
        ]
df = df.loc[df['Country Code'].isin(codes)]

In [ ]:
df

In [72]:
# I am only interested in the country, time, and GDP growth.

df2 = df[['Country Code', 'Quarter', 'GDP Growth']]

In [73]:
df2

    Country Code  Quarter  GDP Growth
16           GBR  2019-Q4   -0.044750
17           GBR  2020-Q1   -2.699125
18           GBR  2020-Q2  -19.565486
19           GBR  2020-Q3   17.436250
20           GBR  2020-Q4    1.107068
..           ...      ...         ...
138          CHN  2020-Q3    2.900000
139          CHN  2020-Q4    3.200000
140          CHN  2021-Q1    0.200000
141          CHN  2021-Q2    1.200000
142          CHN  2021-Q3    0.200000

[79 rows x 3 columns]

In [74]:
# I want to add country name information, it currently isn't in the OECD dataset. This function adds a full country name to my dataframe.

def Country_Name (row):
   if row['Country Code'] == 'CHN' :
      return 'China'
   if row['Country Code'] == 'GBR' :
      return 'United Kingdom'
   if row['Country Code'] == 'OECD' :
      return 'OECD'
   if row['Country Code'] == 'USA':
      return 'United States'
   if row['Country Code']  == 'IND':
      return 'India'
   if row['Country Code'] == 'RUS':
      return 'Russia'
   if row['Country Code'] == 'JPN':
      return 'Japan'
   if row['Country Code']  == 'BRA':
      return 'Brazil'
   if row['Country Code'] == 'DEU':
      return 'Germany'
   if row['Country Code'] == 'ARG':
      return 'Argentina'

   # In case of error   
   return 'other'

In [75]:
df2['Country'] = df2.apply (lambda row: Country_Name(row), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
df2

    Country Code  Quarter  GDP Growth         Country
16           GBR  2019-Q4   -0.044750  United Kingdom
17           GBR  2020-Q1   -2.699125  United Kingdom
18           GBR  2020-Q2  -19.565486  United Kingdom
19           GBR  2020-Q3   17.436250  United Kingdom
20           GBR  2020-Q4    1.107068  United Kingdom
..           ...      ...         ...             ...
138          CHN  2020-Q3    2.900000           China
139          CHN  2020-Q4    3.200000           China
140          CHN  2021-Q1    0.200000           China
141          CHN  2021-Q2    1.200000           China
142          CHN  2021-Q3    0.200000           China

[79 rows x 4 columns]

In [77]:
# I want the full date as well as the quarter, it makes for a better plot. Using a timestamp function.

qs = df['Quarter']
qs

df2['Date'] = pd.PeriodIndex(qs, freq='Q').to_timestamp()
df2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Country Code  Quarter  GDP Growth         Country       Date
16           GBR  2019-Q4   -0.044750  United Kingdom 2019-10-01
17           GBR  2020-Q1   -2.699125  United Kingdom 2020-01-01
18           GBR  2020-Q2  -19.565486  United Kingdom 2020-04-01
19           GBR  2020-Q3   17.436250  United Kingdom 2020-07-01
20           GBR  2020-Q4    1.107068  United Kingdom 2020-10-01
..           ...      ...         ...             ...        ...
138          CHN  2020-Q3    2.900000           China 2020-07-01
139          CHN  2020-Q4    3.200000           China 2020-10-01
140          CHN  2021-Q1    0.200000           China 2021-01-01
141          CHN  2021-Q2    1.200000           China 2021-04-01
142          CHN  2021-Q3    0.200000           China 2021-07-01

[79 rows x 5 columns]

In [78]:
# Exporting

df2.to_csv("proj_gdp_clean.csv",encoding = 'utf-8', index=False)